# https://travis-ci.org/jwtk/jjwt
language: java

jdk:
  - oraclejdk7
  - oraclejdk8

before_install:
  - export BUILD_COVERAGE="$([ $TRAVIS_JDK_VERSION == 'openjdk7' ] && echo 'true')"
install: echo "No need to run mvn install -DskipTests then mvn install.  Running mvn install."
script: mvn install
after_success:
  - test -z "$BUILD_COVERAGE" || mvn clean cobertura:cobertura coveralls:report
